

<h1><%= Date.today.strftime('%A, %b %d') %></h1>

<h2>Today we will play with</h2>

<% learnings = %w(Middleman ERB SCSS layout) %>

<ul>
  <% learnings.each do |learning| %>
  <li><%= learning  %></li>
  <% end %>
</ul>
